# commom configuration
g_pingcap_dir: "/var/lib/pingcap"

# pd configuration

pd_client_port: 2379

pd_peer_port: 2380

pd_image_name: cargo.caicloudprivatetest.com/library/pd:v2.1.0

pd_config_path: "{{ g_pingcap_dir }}/pd_config.toml"

pd_script_path: "{{ g_pingcap_dir }}/pd_docker.sh"

pd_docker_log_dir: "{{ g_pingcap_dir }}/pd_log"

pd_data_dir : "{{ g_pingcap_dir }}/pd_data"

# tidb configuration
tidb_port: 4000

tidb_status_port: 10080

tidb_image_name: cargo.caicloudprivatetest.com/library/tidb:v2.1.0

tidb_config_path: "{{ g_pingcap_dir }}/tidb_config.toml"

tidb_script_path: "{{ g_pingcap_dir }}/tidb_docker.sh"

tidb_docker_log_dir: "{{ g_pingcap_dir }}/tidb_log"

# tikv configuration
tikv_port: 20160

tikv_status_port: 20180

tikv_config_path: "{{ g_pingcap_dir }}/tikv_config.toml"

tikv_script_path: "{{ g_pingcap_dir }}/tikv_docker.sh"

tikv_data_dir: "{{ g_pingcap_dir }}/tikv_data"

tikv_image_name: cargo.caicloudprivatetest.com/library/tikv:v2.1.0

tikv_docker_log_dir: "{{ g_pingcap_dir }}/tikv_log"
